[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GREMLINS"]
	path = GREMLINS
	url = https://github.com/grosssbm/gremlins
[submodule "missSBM"]
	path = missSBM
	url = https://github.com/grosssbm/misssbm
[submodule "sbm"]
	path = sbm
	url = https://github.com/grosssbm/sbm
